cpplint==2.0.2
cryptography==48.0.1
dmgbuild==1.6.7
filelock==3.29.0
furo==2025.12.19
libcst==1.8.6
mypy==2.1.0
pbxproj==4.3.3
pur==7.4.0
pylint==4.0.5
pylsp-mypy==0.7.1
pytest-split==0.11.0
pytest==9.0.3
python-daemon==3.1.2
python-lsp-black==2.0.0
python-lsp-server==1.14.0
requests==2.34.2
Sphinx==9.1.0
tomlkit==0.15.0
types-certifi==2021.10.8.3
types-docutils==0.22.3.20260518
types-filelock==3.2.7
types-psutil==7.2.2.20260518
types-requests==2.33.0.20260518
typing_extensions==4.15.0
urllib3==2.7.0
websockets==16.0
zuban==0.7.2
