cpplint==2.0.0
dmgbuild==1.6.4
filelock==3.17.0
furo==2024.8.6
mypy==1.15.0
pbxproj==4.2.1
pdoc==15.0.1
pur==7.3.3
pylint==3.3.4
pylsp-mypy==0.7.0
pytest==8.3.4
python-daemon==3.1.2
python-lsp-black==2.0.0
python-lsp-server==1.12.2
requests==2.32.3
Sphinx==8.2.0
tomlkit==0.13.2
types-certifi==2021.10.8.3
types-filelock==3.2.7
types-requests==2.32.0.20241016
typing_extensions==4.12.2
urllib3==2.3.0
