cpplint==2.0.2
cryptography==46.0.3
dmgbuild==1.6.5
filelock==3.20.0
furo==2025.9.25
libcst==1.8.5
mypy==1.18.2
pbxproj==4.3.2
pur==7.3.3
pylint==4.0.1
pylsp-mypy==0.7.0
pytest==8.4.2
python-daemon==3.1.2
python-lsp-black==2.0.0
python-lsp-server==1.13.1
requests==2.32.5
Sphinx==8.2.3
tomlkit==0.13.3
types-certifi==2021.10.8.3
types-docutils==0.22.2.20251006
types-filelock==3.2.7
types-requests==2.32.4.20250913
typing_extensions==4.15.0
urllib3==2.5.0
