[Desktop Entry]
Name=BombSquad
Comment=Blow up your friends in mini-games ranging from capture-the-flag to hockey!
Keywords=ballistica;bs;game;multiplayer;
Exec=bombsquad.sh
Icon=net.froemling.BombSquad
Terminal=true
Type=Application
Categories=Game;
