{% extends "default/module.html.jinja2" %}

{% block style_content %}
    {{ super() }}
    /* Docstrings */
    <style>
        .pdoc .docstring {
            margin-bottom: 1.5rem;
            margin-left: 2rem;
        }
    </style>
{% endblock %}

{% macro is_public(doc) %}
    {% if "(internal)" in doc.docstring %}
        {# Returning no text is interpreted as false #}
    {% else %}
        {{ default_is_public(doc) }}
    {% endif %}
{% endmacro %}
