name: Deploy Documentation

on:
  push:
    branches:
      - main

jobs:
  setup_bombsquad_cache:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup build env
        uses: ./.github/actions/setup_build_env
      - name: Make the build
        run: |
          make assets-cmake
          make assets-windows

  build:
    needs: setup_bombsquad_cache
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup build env
        uses: ./.github/actions/setup_build_env
      - name: Build documentation
        run: make docs
      - name: Upload the build
        uses: actions/upload-pages-artifact@v3
        with:
          name: html_docs
          path: build/docs

  deploy:
    # Add a dependency to the build job
    needs: build

    # Grant GITHUB_TOKEN the permissions required to make a Pages deployment
    permissions:
      pages: write # to deploy to Pages
      id-token: write # to verify the deployment originates from an appropriate source

    # Deploy to the github-pages environment
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    # Specify runner + deployment step
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
        with:
          artifact_name: html_docs
